{% extends "base.html" %}
{% load static %}

{% block content_area %}
	<div class="card">

		<div class="card-body">
			{% include "components/list_place_template.html" %}
		</div>
	</div>
{% endblock content_area %}

{% block filters %}


<script>
    // Находим все радиокнопки с классом .country-radio
    document.querySelectorAll('.country-radio').forEach(function(radioButton) {
        radioButton.addEventListener('change', function() {
            // Обновляем текст кнопки с выбранной страной
            const selectedCountry = radioButton.value;
            const button = document.getElementById('dropdownMenuCountry');
            button.textContent = selectedCountry;  // Меняем текст кнопки на выбранную страну
        });
    });
</script>

<script>
    document.querySelectorAll('input[name="source"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const selectedSources = Array.from(document.querySelectorAll('input[name="source"]:checked'))
                .map(cb => cb.value); // Получаем значения всех отмеченных чекбоксов

            const button = document.getElementById('dropdownMenuSource');

            if (selectedSources.length === 0) {
                button.textContent = 'Select Source';
            } else if (selectedSources.length === 1) {
                button.textContent = selectedSources[0];
            } else {
                button.textContent = `${selectedSources.length} selected`;
            }
        });
    });

    // Обновим кнопку сразу при загрузке страницы, если есть выбранные значения
    document.addEventListener('DOMContentLoaded', function () {
        const event = new Event('change');
        const checkboxes = document.querySelectorAll('input[name="source"]:checked');
        if (checkboxes.length > 0) {
            checkboxes[0].dispatchEvent(event); // триггерим для обновления текста
        }
    });
</script>
<script>
    document.getElementById('clearFiltersButton').addEventListener('click', function () {
        const form = document.getElementById('filterForm');

        // Сброс текстовых инпутов
        form.querySelectorAll('input[type="text"]').forEach(input => input.value = '');

        // Сброс радиокнопок
        form.querySelectorAll('input[type="radio"]').forEach(radio => radio.checked = false);

        // Сброс чекбоксов
        form.querySelectorAll('input[type="checkbox"]').forEach(checkbox => checkbox.checked = false);

        // Сброс текста кнопок dropdown'ов
        document.getElementById('dropdownMenuCountry').textContent = 'Select Country';
        document.getElementById('dropdownMenuSource').textContent = 'Select Source';

        // Отправка формы (если нужно сразу обновить страницу)
        form.submit();

        // Если не нужно отправлять форму, просто убери строку выше
    });
</script>
{% endblock filters %}