<table class="table tasks-list" style="table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 120px;">Category</th>
            <th style="width: 160px;">Name</th>
            <th style="width: 100px;">Rating</th>
            <th style="width: 120px;">Reviews</th>
            <th style="width: 120px;">Country</th>
            <th style="width: 120px;">State</th>
            <th style="width: 120px;">City</th>
            <th style="width: 120px;">Postcode</th>
            <th style="width: 140px;">Place Type</th>
            <th style="width: 95px;">Phone</th>
            <th style="width: 90px;">Email</th>
            <th style="width: 110px;">Website</th>
            <th style="width: 160px;">Socials</th>
        </tr>
    </thead>
    <tbody>
        {% for item in places %}
            <tr>
                <td>{{ item.category }}</td>
                <td>
                    <a href="{% url 'place_full_info' item.slug %}" target="_blank">
                        {{ item.name|default:"-" }}
                    </a>
                </td>
                <td class="text-break">{{ item.rating|default:"-" }}</td>
                <td class="text-break">{{ item.num_reviews|default:"-" }}</td>
                <td class="text-break">{{ item.city.country }}</td>
                <td class="text-break">{{ item.city.state }}</td>
                <td class="text-break">{{ item.city }}</td>
                <td class="text-break">{{ item.postcode|default:"-" }}</td>
                <td class="text-wrap">{{ item.place_type|default:"-" }}</td>
                <td class="text-center">
                    {% if item.phone %}
                        <div class="text-success bg-success bg-opacity-25">
                            Yes
                        </div>
                    {% else %}
                        <div class="text-danger bg-danger bg-opacity-25">
                            No
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.email %}
                        <div class="text-success bg-success bg-opacity-25">
                            Yes
                        </div>
                    {% else %}
                        <div class="text-danger bg-danger bg-opacity-25">
                            No
                        </div>
                    {% endif %}
                </td>
                <td  class="text-center px-2" style="width: 50px;">
                    {% if item.website %}
                        <a href="{{ item.website }}">
                            <i class="ph ph-link"></i>
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center" style="gap: 5px; flex-wrap: wrap;">
                    {% if item.facebook %}
                        <a href="{{item.facebook}}" target="_blank">
                            <i class="ph ph-facebook-logo"></i>
                        </a>
                    {% else %}
                        <i class="ph ph-facebook-logo"></i>
                    {% endif %}

                    {% if item.instagram %}
                        <a href="{{item.instagram}}" target="_blank">
                            <i class="ph ph-instagram-logo"></i>
                        </a>
                    {% else %}
                        <i class="ph ph-instagram-logo"></i>
                    {% endif %}

                    {% if item.youtube %}
                        <a href="{{item.youtube}}" target="_blank">
                            <i class="ph ph-youtube-logo"></i>
                        </a>
                    {% else %}
                        <i class="ph ph-youtube-logo"></i>
                    {% endif %}

                    {% if item.twitter %}
                        <a href="{{item.twitter}}" target="_blank">
                            <i class="ph ph-twitter-logo"></i>
                        </a>
                    {% else %}
                        <i class="ph ph-twitter-logo"></i>
                    {% endif %}

                    {% if item.linkedin %}
                        <a href="{{item.linkedin}}" target="_blank">
                            <i class="ph ph-linkedin-logo"></i>
                        </a>
                    {% else %}
                        <i class="ph ph-linkedin-logo"></i>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="12" class="text-center">No places available</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% load clean_url %}
<!-- Пагинация -->
<nav class="d-flex justify-content-center bg-light p-3">
    <ul class="pagination" id="pagination">
        {% if places.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% clean_url request %}&page={{ places.previous_page_number }}">Previous</a>
            </li>
            {% if places.number > 4 %} 
                <li class="page-item">
                    <a class="page-link" href="{% clean_url request %}&page=1">1</a>
                </li>
                {% if places.number > 5 %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endif %}
        {% endif %}

        {% with start=places.number|add:"-3" end=places.number|add:"3" %}
            {% for i in places.paginator.page_range %}
                {% if i >= start and i <= end %}
                    <li class="page-item {% if places.number == i %}active{% endif %}">
                        <a class="page-link" href="{% clean_url request %}&page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endwith %}

        {% if places.has_next %}
            {% if places.number < places.paginator.num_pages|add:"-3" %}
                {% if places.number < places.paginator.num_pages|add:"-4" %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{% clean_url request %}&page={{ places.paginator.num_pages }}">{{ places.paginator.num_pages }}</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{% clean_url request %}&page={{ places.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>