<div class="table-scroll-container">
<table class="table tasks-list mb-0" style="table-layout: fixed; min-width: 1000px;">
     <thead class="bg-light" style="position: sticky; top: 0; z-index: 2;">
    <tr>
        <h1 class="text-start">{{category_filter}}</h1>
        <th style="width: 210px;" class="text-start text-nowrap">Name</th>
        <th style="width: 55px;" class="text-start text-nowrap">Rating</th> <!-- Сделано уже -->
        <th style="width: 100px;" class="text-start text-nowrap">City</th>
        <th style="width: 110px;" class="text-start text-nowrap">Place Type</th>
        <th style="width: 60px;" class="text-start text-nowrap">Phone</th>
        <th style="width: 60px;" class="text-start text-nowrap">Email</th>
        <th style="width: 65px;" class="text-start text-nowrap">Website</th>
        <th style="width: 115px;" class="text-start text-nowrap">Socials</th>
    </tr>
</thead>
<tbody>
    {% for item in places %}
        <tr>
            <td class="text-start">
                <a href="{% url 'place_full_info' item.slug %}" target="_blank">
                    {{ item.name|default:"-" }}
                </a>
            </td>
            <td class="text-start text-nowrap" style="width: 55px;">{{ item.rating|default:"-" }}</td>
            <td class="text-start">{{ item.city }}</td>
            <td class="text-start">{{ item.place_type|default:"-" }}</td>
            <td class="text-center">
                {% if item.phone %}
                    <div class="text-success bg-success bg-opacity-25">
                        Yes
                    </div>
                {% else %}
                    <div class="text-danger bg-danger bg-opacity-25">
                        No
                    </div>
                {% endif %}
            </td>
            <td class="text-center">
                {% if item.email %}
                    <div class="text-success bg-success bg-opacity-25">
                        Yes
                    </div>
                {% else %}
                    <div class="text-danger bg-danger bg-opacity-25">
                        No
                    </div>
                {% endif %}
            </td>
            <td class="text-start px-2" style="width: 65px;">
                {% if item.website %}
                    <a href="{{ item.website }}">
                        <i class="ph ph-link"></i>
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-start">
                <ul class="list-inline mb-0 d-flex align-items-center gap-2">
                    {% if item.youtube %}
                    <li class="list-inline-item">
                        <i class="fab fa-youtube fa-lg" style="color: #FF0000;"></i>
                    </li>
                    {% endif %}

                    {% if item.twitter %}
                    <li class="list-inline-item">
                        <i class="fab fa-twitter fa-lg" style="color: #1DA1F2;"></i>
                    </li>
                    {% endif %}

                    {% if item.linkedin %}
                    <li class="list-inline-item">
                        <i class="fab fa-linkedin fa-lg" style="color: #0077B5;"></i>
                    </li>
                    {% endif %}

                    {% if item.instagram %}
                    <li class="list-inline-item">
                        <i class="fab fa-instagram fa-lg" style="color: #C13584;"></i>
                    </li>
                    {% endif %}

                    {% if item.facebook %}
                    <li class="list-inline-item">
                        <i class="fab fa-facebook fa-lg" style="color: #1877F2;"></i>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12" class="text-center">No places available</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<style>
    .table-scroll-container {
        overflow-x: auto;
        width: 100%;
    }

    body, html {
        overflow-x: auto;
    }
</style>






{% load clean_url %}
<!-- Пагинация -->
<nav class="d-flex justify-content-center bg-light p-3">
    <ul class="pagination" id="pagination">
        {% if places.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% clean_url request %}&page={{ places.previous_page_number }}">Previous</a>
            </li>
            {% if places.number > 4 %}
                <li class="page-item">
                    <a class="page-link" href="{% clean_url request %}&page=1">1</a>
                </li>
                {% if places.number > 5 %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endif %}
        {% endif %}

        {% with start=places.number|add:"-3" end=places.number|add:"3" %}
            {% for i in places.paginator.page_range %}
                {% if i >= start and i <= end %}
                    <li class="page-item {% if places.number == i %}active{% endif %}">
                        <a class="page-link" href="{% clean_url request %}&page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endwith %}

        {% if places.has_next %}
            {% if places.number < places.paginator.num_pages|add:"-3" %}
                {% if places.number < places.paginator.num_pages|add:"-4" %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{% clean_url request %}&page={{ places.paginator.num_pages }}">{{ places.paginator.num_pages }}</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{% clean_url request %}&page={{ places.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

<style>
    th {
        white-space: nowrap;
    }
</style>