<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock title %}</title>

		<!-- Global stylesheets -->
		<link href="{% static 'task_manager/css/inter/inter.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'task_manager/css/styles_min/styles.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'task_manager/css/all.min.css' %}" id="stylesheet" rel="stylesheet" type="text/css">
		<!-- /global stylesheets -->

		{% block head %}
		{% endblock head %}
	</head>

	<body>

		<!-- Main navbar -->
		<div class="navbar navbar-dark navbar-static py-2">
			<div class="container-fluid">
				<div class="navbar-brand flex-1 flex-lg-0">
					<a href="{% url 'index' %}" class="d-inline-flex align-items-center gap-2">
						<h3 class="m-0 text-white"><b>Leads</b></h3>
					</a>
				</div>


			</div>
		</div>
		<!-- /main navbar -->


		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Inner content -->
				<div class="content-inner">

					<!-- Content area -->
					<div class="content d-flex justify-content-center align-items-center">

						{% block content_area %}
						{% endblock content_area %}

					</div>
					<!-- /content area -->

					<!-- Footer -->
					<div class="navbar navbar-sm navbar-footer border-top">

						<div class="container-fluid">
							<span>&copy; 2024</span>

							<ul class="nav">
								<li class="nav-item">
									<a href="" class="navbar-nav-link navbar-nav-link-icon rounded">
										<div class="d-flex align-items-center mx-md-1">
											<i class="ph-lifebuoy"></i>
											<span class="d-none d-md-inline-block ms-2">Support</span>
										</div>
									</a>
								</li>
							</ul>
						</div>

					</div>
					<!-- /footer -->

				</div>
				<!-- /inner content -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->


		<!-- Demo config -->
		<div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
			<div class="position-absolute top-50 end-100 visible">
				<button type="button" class="btn btn-primary btn-icon translate-middle-y rounded-end-0" data-bs-toggle="offcanvas" data-bs-target="#demo_config">
					<i class="ph-gear"></i>
				</button>
			</div>

			<div class="offcanvas-header border-bottom py-0">
				<h5 class="offcanvas-title py-3">Demo configuration</h5>
				<button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
					<i class="ph-x"></i>
				</button>
			</div>

			<div class="offcanvas-body">
				<div class="fw-semibold mb-2">Color mode</div>
				<div class="list-group mb-3">

					<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
						<div class="d-flex flex-fill my-1">
							<div class="form-check-label d-flex me-2">
								<i class="ph-sun ph-lg me-3"></i>
								<div>
									<span class="fw-bold">Light theme</span>
									<div class="fs-sm text-muted">Set light theme or reset to default</div>
								</div>
							</div>
							<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="light" checked>
						</div>
					</label>

					<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
						<div class="d-flex flex-fill my-1">
							<div class="form-check-label d-flex me-2">
								<i class="ph-moon ph-lg me-3"></i>
								<div>
									<span class="fw-bold">Dark theme</span>
									<div class="fs-sm text-muted">Switch to dark theme</div>
								</div>
							</div>
							<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="dark">
						</div>
					</label>

					<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
						<div class="d-flex flex-fill my-1">
							<div class="form-check-label d-flex me-2">
								<i class="ph-translate ph-lg me-3"></i>
								<div>
									<span class="fw-bold">Auto theme</span>
									<div class="fs-sm text-muted">Set theme based on system mode</div>
								</div>
							</div>
							<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="auto">
						</div>
					</label>

				</div>
			</div>
		</div>
		<!-- /demo config -->

		<!-- Core JS files -->
		<script src="{% static 'main_app/js/demo_configurator.js' %}"></script>
		<script src="{% static 'main_app/js/bootstrap.bundle.min.js' %}"></script>
		<!-- /core JS files -->

		<!-- Theme JS files -->
		<script src="{% static 'main_app/js/app.js' %}"></script>
		<!-- /theme JS files -->
	</body>
</html>
